body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 992px;
    margin: auto;
    padding: 0 20px;
}
header {
    background: url('images/header-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:left center;
    padding: 100px 0;
}
.left-content {
    width: 45%;
    float: left;
    margin-right: 5%;
}

.right-content {
    width: 50%;
    overflow: hidden;

}
 img {
    max-width: 100%;
}
.right-content img {
    width: 90%;
}
.left-content img {
    width: 90%;
}
.button {
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 5px;
    
    box-sizing: border-box;
    display: inline-block;
    color: white;
}
.heading {
    color: #FF2178;
}
.protfolio {
    padding: 100px 0;
    background-image: url('images/biography-bg.png');
    overflow: hidden;
}

.latest-work {
    overflow: hidden;
    padding: 100px 0;
}
.col-3 {
    width: 31%;
    margin-right: 2%;
    float: left;
    overflow: hidden;
}
.latest {
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;

}
.client {
    padding: 100px 0;
    text-align: center;
}
.box {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    background: #FF2178;
    color: wheat;
    border-radius: 4px;
}